{
  "$schema": "https://raw.githubusercontent.com/jetify-com/devbox/main/.schema/devbox.schema.json",
  "packages": [
    "go@latest",
    "buf@latest",
    "nodejs@24"
  ],
  "shell": {
    "init_hook": [
      "export GOBIN=\"$PWD/.devbox/gobin\"",
      "export GOFLAGS='-buildvcs=false -mod=mod'",
      "export NPM_CONFIG_PREFIX=\"$PWD/.devbox/npm-global\"",
      "export PATH=\"$GOBIN:$NPM_CONFIG_PREFIX/bin:$PATH\"",
      "go install github.com/aperturerobotics/protobuf-go-lite/cmd/protoc-gen-go-lite@v0.15.0",
      "command -v protoc-gen-es-lite >/dev/null || npm i -g @aptre/protobuf-es-lite"
    ]
  }
}
